body
{
    background-image: url("webimg.jpg");
}

	.login_div1 , .login_div2
	{
		background: rgba(255, 255, 255, 0.247);
		padding: 10px;
		float: none;
		border-radius: 15px;
        margin-left: 350px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#login {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    margin-left: 450px;
}
#div1 {
    height: 150px;
    width: 600px;
}
#div2 {
    height: 150px;
    width: 600px;
}
#player1_name_input {
    text-align: center;
}
#player2_name_input {
    text-align: center;
}
#textlogin1 {
    text-align: center;
    color: rgb(34, 4, 61);
}
#textlogin2 {
    text-align: center;
    color: rgb(34, 4, 61);
}
#title {
    text-align: center;
    color: rgb(90, 7, 90);
    margin-right: 50px;
}